.hero {
    text-align: center;
    padding: 15rem 0;
}
.hero__block {
    max-width: 55rem;
    margin: 0 auto;
}
.hero .title {
    line-height: 1;
    margin-bottom: 2rem;
}
.hero .text {
    max-width: 40rem;
    margin: 0 auto;
}
.hero__img-block {
    display: none;
}

.phrase {
    padding: 10rem 0;
    text-align: center;
}
.phrase__title {
    font-size: 2rem;
    font-family: var(--title-font);
    text-transform: lowercase;
    margin-bottom: 2rem;
}
.phrase__title::first-letter {
    text-transform: uppercase;
}
.phrase .text {
    margin: 0 auto 3rem;
    max-width: 60rem;
}

@media screen and (min-width: 1440px)  {
}
