:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #cccccc;
  --second-brand-color: #f3313d;
  --third-brand-color: #0b95a8;


  --main-font:  'Montserrat';
  --title-font:  'Montserrat SemiBold';

  font-size: 62.5%;
}
